body {
    color: #6D2932;
    background-color: #C7B7A3;
}

.navbar {
    background-color: #561C24;
    color: #E8D8C4;
}

#logo {
    color: #E8D8C4;
    font-weight: bold;
}

.navbar-brand,
.navbar-brand:hover,
#button-addon2 {
    color: #E8D8C4;
}


.footer {
    background-color: #561C24;
    color: #E8D8C4;
    padding-top: 10px;

}


.copyright {
    background-color: #6D2932;
}

.copyright a {
    color: #E8D8C4;
}


strong {
    color: #561C24;
}

.important,
.join {
    color: #C7B7A3;
}



.card-title1 {
    font-size: 2rem;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px;
    color: #E8D8C4;
    background-color: #561C24;
    text-align: center;
}


.card-text {
    color: #6D2932
}

.card {
    border: none;
    background-color: #E8D8C4;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn {
    color: #E8D8C4;
    background-color: #561C24;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.btn:hover {
    color: #C7B7A3;
}

.socialbtn {
    background-color: #E8D8C4;
    border: none;
    color: #561C24;
}

.socialbtn:hover,
.subscribebtn:hover {
    background-color: #C7B7A3;
    color: #561C24;
}


.subscribebtn:hover {
    background-color: #6D2932;
    color: #E8D8C4;
}

.subscribebtn {
    background-color: #561C24;
    border-color: #E8D8C4;
    color: #E8D8C4;
}

.recipe-container {
    border: 1px solid #010e27;
    padding: 20px;
    margin-bottom: 20px;
}

.recipe-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #561C24;
}

.recipe-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.recipe-details {
    margin-bottom: 10px;
}


.carousel-item {
    height: 400px;
    margin-top: 20px;
    margin-bottom: 0;

}


.carousel-item img {
    margin: auto;
    height: 100%;
    border-radius: 20px;
}

.badge {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    background-color: #561C24;
    color: #E8D8C4;
}

.form-control {
    border: none;
    background-color: #E8D8C4;
    border-radius: 15px;
}



.login h1,
h5,
p,
a {
    color: #561C24;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    border-radius: 10px;
    background-color: #C7B7A3;
    color: #561C24;
}


.register-link {
    color: #561C24;

}


#username,
#email,
#password {
    background-color: #C7B7A3;
    margin: 10px;
}

.nav-link,
.nav-link:hover,
.nav-link:focus {
    color: #E8D8C4;
}


.list-group,
.list-group-item {
    background-color: #E8D8C4;
}

.list-group-item:active , option{
    background-color: #C7B7A3;
}


#category option:hover {
    background-color: #C7B7A3; 
}



#dashboard {
    background-color: #561C24;
    border: none;
    color: #E8D8C4;
}

.btn-group a {
    margin-right: 10px;
}

.btn-group button {
    margin-left: 10px;
}