.section-bg {
    background-color: #9A616D;
}

.card-border-radius {
    border-radius: 1rem;
}

.card-img-radius {
    border-radius: 1rem 0 0 1rem;
}

.logo-color {
    color: #ff6219;
}

.text-color {
    color: #393f81;
}

.card-text-black {
    color: black;
}

.form-label-spacing {
    letter-spacing: 1px;
}

.recipe-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}
.recipe-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.recipe-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.recipe-details {
    margin-bottom: 10px;
}


.carousel-item {
    height: 400px; 
}


.carousel-item img {
    margin: auto;
    height: 100%;
}



/* styles.css */

/* Adjust body margins for better spacing */
body {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style the recipe title */
h2 {
    color: #333;
}

/* Style the description */
p {
    color: #555;
}

/* Style the list of ingredients */
ul {
    list-style-type: none;
    padding: 0;
}

/* Style individual ingredients */
li {
    margin-bottom: 5px;
}

/* Style the comments section */
h3 {
    margin-top: 30px;
    color: #333;
}

/* Style individual comments */
.list-group-item {
    border: none;
    border-radius: 0;
}

/* Style the form inputs and textarea */
.form-control {
    margin-bottom: 10px;
}

/* Style the submit button */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.list-group-item {
    border: none;
  }
  
  .form-group {
    margin-bottom: 15px;
  }


.card {
    margin-top: 20px; /* Adjust as needed */
}


/* Custom CSS */
.list-group-item {
    border: none;
  }
  
  .badge {
    font-size: 0.8rem;
  }
  
  /* Optional: You can add additional styling to the circle or icon */
  .badge {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .nested-comments {
    margin-left: 20px; /* Adjust the indentation */
  }
  
  .nested-reply-form {
    margin-left: 20px; /* Adjust the indentation */
  }
    
  