{% extends "base.html" %}

{% block title %}Forgot Password - Yummy Hub{% endblock %}

{% block content %}
<section class="vh-200 section-bg login mb-4">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body p-4">
                        <form method="post" class="forgot-password-form">
                            <div class="text-center mb-4">
                                <h1 class="fw-bold mb-3"><i class="fas fa-utensils"></i> Yummy Hub</h1>
                                <h5 class="fw-normal mb-3">Forgot Your Password?</h5>
                            </div>

                            <div class="input-group mb-4">
                                <input type="email" id="email" class="form-control form-control-lg" name="email" placeholder="Enter your email" required>
                            </div>

                            <div class="mb-4">
                                <button class="btn btn-lg btn-block " type="submit"><i class="fas fa-envelope"></i> Send Reset Link</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
