{% extends "base.html" %}

{% block title %}Home - Yummy Hub{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-end">
        <div class="col-md-6">
            <form action="{{ url_for('search_results_home') }}" method="GET" class="input-group">
                <input id="search-input" type="text" class="form-control me-1" name="query"
                    placeholder="Enter your search query" />
                <button id="search-button" type="submit" class="btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ url_for('static', filename='images/slide1.jpg') }}" class="d-block w-100" alt="Slide 1">
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='images/slide2.jpg') }}" class="d-block w-100" alt="Slide 2">
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='images/slide3.jpg') }}" class="d-block w-100" alt="Slide 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row justify-content-center">
    <h1 class="card-title text-center mb-3 mt-3" id="featured-recipes">
        <span class="text-primary "> Top Rated</span> Recipes
    </h1>

    <hr>
    {% for recipe, avg_rating in top_rated_recipes %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ recipe.image_url }}" class="card-img-top" alt="{{ recipe.title }}">
            <div class="card-body">
                <h5 class="card-title fw-bold">{{ recipe.title }}</h5>

                <p class="card-text">{{ recipe.description }}</p>
                <p class="text-muted"><i class="fa-sharp fa-solid fa-star"></i>Average Rating:
                    {{ avg_rating|round(2)|float }}</p>
                <small class="text-muted ">
                    <i class="fas fa-calendar-alt"></i> Posted on {{ recipe.created_at.strftime('%Y-%m-%d') }} by
                    <i class="fas fa-user"></i> {{ recipe.author.username }}
                </small>
                <br>
                <a href="{{ url_for('recipe_details', unique_identifier=recipe.unique_identifier) }}"
                    class="btn mt-3">Read More <i class="fas fa-chevron-right"></i></a>

            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}