<!--recipe_details.html-->
{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-body">

          <div class="mt-4">
            <a href="{{ url_for('share_recipe', unique_identifier=recipe.unique_identifier) }}"
              class="btn btn-primary">Generate Shareable Link</a>
          </div>

          <h2 class="card-title">{{ recipe.title }}</h2>
          <img src="{{ recipe.image_url }}" alt="Recipe Image" class="card-img-top recipe-image">
          <div class="recipe-details">
            <p><strong>Category:</strong> {{ recipe.category_name }}</p>
            <p><strong>Description:</strong> {{ recipe.description }}</p>
            <h6><strong>Ingredients:</strong></h6>
            {% if recipe.ingredients %}
            <ul class="list-unstyled">
              {% for ingredient in recipe.ingredients %}
              <li>{{ ingredient.name }}{% if ingredient.quantity %} - {{ ingredient.quantity }}{% endif %}</li>
              {% endfor %}
            </ul>
            {% else %}
            <p>No ingredients found.</p>
            {% endif %}
            <p><strong>Instructions:</strong> {{ recipe.instructions }}</p>
            <p><strong>Preparation Time:</strong> {{ recipe.preparation_time }} minutes</p>
            <p><strong>Cook Time:</strong> {{ recipe.cook_time }} minutes</p>
          </div>
        </div>
      </div>

      <h3 class="text-center mt-5"><strong>Comments</strong></h3>
      <div class="mb-3">
        {% for comment in comments %}
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <div>
                {% if comment.user %}
                <span class="badge bg-secondary me-2">{{ comment.user.username[0] }}</span>
                <span class="fw-bold">{{ comment.user.username }}</span>
                {% else %}
                <span class="badge bg-secondary me-2">U</span>
                <span class="fw-bold">{{ comment.name }}</span>
                {% endif %}
              </div>
              <div class="text-muted">{{ comment.created_at }}</div>
            </div>
            <p class="card-text">{{ comment.content }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

      {% if 'user_id' in session %}
      <form action="{{ url_for('recipe_details', unique_identifier=recipe.unique_identifier) }}" method="POST"
        class="mt-4">

        <div class="mb-3">
          <textarea class="form-control" name="comment_content" placeholder="Add your comment here" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% else %}
      <form action="{{ url_for('recipe_details', unique_identifier=recipe.unique_identifier) }}" method="POST"
        class="mt-4">

        <div class="mb-3">
          <input type="text" class="form-control" name="name" placeholder="Your Name">
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" name="email" placeholder="Your Email">
        </div>
        <div class="mb-3">
          <textarea class="form-control" name="comment_content" placeholder="Add your comment here" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>

{% endblock %}