{% extends "base.html" %}

{% block content %}
<h2 class="mt-4 mb-3">Recipes in category: {{ category }}</h2>
<hr>
<div class="row">
  {% for recipe in recipes %}
  <div class="col-md-4 mb-4 mt-4">
    <div class="card">
      <img src="{{ recipe.image_url }}" class="card-img-top" alt="{{ recipe.title }}">
      <div class="card-body">
        <h5 class="card-title fw-bold">{{ recipe.title }}</h5>
        <p class="card-text">{{ recipe.description }}</p>
        <p class="card-text">
          <small class="text-muted">
            <i class="fas fa-calendar-alt"></i> Posted on {{ recipe.created_at.strftime('%Y-%m-%d') }} by
            <i class="fas fa-user"></i> {{ recipe.author.username }}
          </small>
        </p>
        <a href="{{ url_for('recipe_details', unique_identifier=recipe.unique_identifier) }}" class="btn "><i class="fas fa-book"></i> Read More</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
