{% extends "base.html" %}

{% block content %}
<h2 class="mt-4 mb-3">Recipes in category: {{ category }}</h2>
<hr>
<ul>
  {% for recipe in recipes %}
  <div class="col-md-4 mb-4 mt-4">
    <div class="card">
      <img src="{{ recipe.image_url }}" class="card-img-top" alt="{{ recipe.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.title }}</h5>
        <p class="card-text">{{ recipe.description }}</p>
        <p class="card-text"><small class="text-muted">Posted on {{ recipe.created_at.strftime('%Y-%m-%d') }} by
            {{ recipe.author.username }}</small></p>
        <a href="{{ url_for('recipe_details', unique_identifier=recipe.unique_identifier) }}" class="btn">Read
          More</a>

      </div>
    </div>
  </div>

  {% endfor %}
</ul>
{% endblock %}