<!-- recipe_details.html -->
{% extends 'base.html' %}
{% block content %}

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div
          class="alert {% if category == 'success' %}alert-success{% elif category == 'error' %}alert-danger{% elif category == 'warning' %}alert-warning{% elif category == 'danger' %}alert-danger{% endif %} d-flex justify-content-between align-items-center"
          role="alert">

          <div>{{ message }}</div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>

    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-body" id="recipe-details">
          <h2 class="card-title fw-bold">{{ recipe.title }} <a
              href="{{ url_for('share_recipe', unique_identifier=recipe.unique_identifier) }}" class="btn"><i
                class="fas fa-share"></i>
            </a></h2>
          <img src="{{ recipe.image_url }}" alt="Recipe Image" class="card-img-top recipe-image">
          <div class="recipe-details">
            {% if average_rating is not none %}
            <p><strong><i class="fas fa-star"></i> Average Rating:</strong> {{ '%.1f' % average_rating }}
            </p>
            {% else %}
            <p><strong>No ratings yet</strong></p>
            {% endif %}
            <p><strong><i class="fas fa-folder-open"></i> Category:</strong> {{ recipe.category_name }}</p>
            <p><strong><i class="fas fa-align-left"></i> Description:</strong> {{ recipe.description }}</p>
            <h6><strong><i class="fas fa-utensils"></i> Ingredients:</strong></h6>
            {% if recipe.ingredients %}
            <ul>
              {% for ingredient in recipe.ingredients %}
              <li>{{ ingredient.name }}{% if ingredient.quantity %} - {{ ingredient.quantity }}{% endif %}</li>
              {% endfor %}
            </ul>
            {% else %}
            <p>No ingredients found.</p>
            {% endif %}
            <p><strong><i class="fas fa-list-ul"></i> Instructions:</strong> {{ recipe.instructions }}</p>
            <p><strong><i class="far fa-clock"></i> Preparation Time:</strong> {{ recipe.preparation_time }} minutes</p>
            <p><strong><i class="far fa-clock"></i> Cook Time:</strong> {{ recipe.cook_time }} minutes</p>
            <button class="btn" onclick="printRecipe()">
              <i class="fas fa-print"></i> Print Recipe
            </button>
          </div>
        </div>
      </div>
      <form action="{{ url_for('submit_rating', unique_identifier=recipe.unique_identifier) }}" method="POST"
        class="mt-4">
        <div class="mb-3">
          <input type="number" class="form-control" name="rating" min="1" max="5" placeholder="Rate this recipe (1-5)">
        </div>
        <button type="submit" class="btn"><i class="fas fa-star"></i>
          Submit Rating</button>
      </form>
      <h3 class="text-center mt-5"><strong>Comments</strong></h3>
      <div class="comments-container mb-3">
        <div class="comments">
          {% for comment in comments %}
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <div>
                  {% if comment.user %}
                  <span class="badge  me-2">{{ comment.user.username[0] }}</span>
                  <span class="fw-bold">{{ comment.user.username }}</span>
                  {% else %}
                  <span class="badge  me-2">U</span>
                  <span class="fw-bold">{{ comment.name }}</span>
                  {% endif %}
                </div>
                <div class="text-muted">{{ comment.created_at.strftime('%Y-%m-%d %H:%M') }}</div>
              </div>
              <p class="card-text">{{ comment.content }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      {% if 'user_id' in session %}
      <form action="{{ url_for('recipe_details', unique_identifier=recipe.unique_identifier) }}" method="POST"
        class="mt-4">
        <div class="mb-3">
          <textarea class="form-control" name="comment_content" placeholder="Add your comment here" rows="3"></textarea>
        </div>
        <button type="submit" class="btn"><i class="fas fa-comment"></i> Submit</button>
      </form>
      {% else %}
      <form action="{{ url_for('recipe_details', unique_identifier=recipe.unique_identifier) }}" method="POST"
        class="mt-4">
        <div class="mb-3">
          <input type="text" class="form-control" name="name" placeholder="Your Name">
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" name="email" placeholder="Your Email">
        </div>
        <div class="mb-3">
          <textarea class="form-control" name="comment_content" placeholder="Add your comment here" rows="3"></textarea>
        </div>
        <button type="submit" class="btn"><i class="fas fa-comment"></i>
          Submit</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>


<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-8">

    </div>
  </div>
</div>
{% endblock %}