<!-- shareable_link.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>Shareable Link</h2>
      <p>Copy the link below to share this recipe:</p>
      <input type="text" class="form-control mb-3" id="shareableLink" value="{{ url_for('recipe_details', unique_identifier=unique_identifier, _external=True) }}" readonly>
      <button class="btn btn-primary" onclick="copyShareableLink()">Copy Shareable Link</button>
    </div>
  </div>
</div>
{% endblock %}
