{% extends "base2.html" %}

{% block content %}
<h2 class="mb-3">Recipes</h2>
<hr>
<div class="row">
    {% for recipe in recipes %}
    <div class="col">
        <div class="card mb-3">
            <img src="{{ recipe.image_url }}" class="card-img-top" alt="Recipe Image">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text"><strong>Category:</strong> {{ recipe.category_name }}</p>
                <p class="card-text"><strong>Description:</strong> {{ recipe.description }}</p>
                <h6><strong>Ingredients:</strong></h6>
                {% if recipe.ingredients %}
                <ul>
                    {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient.name }}{% if ingredient.quantity %} - {{ ingredient.quantity }}{% endif %}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No ingredients found.</p>
                {% endif %}
                <p class="card-text"><strong>Instructions:</strong> {{ recipe.instructions }}</p>
                <p class="card-text"><strong>Preparation Time:</strong> {{ recipe.preparation_time }} minutes</p>
                <p class="card-text"><strong>Cook Time:</strong> {{ recipe.cook_time }} minutes</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
